<body class="index-page bg-gray-200">
    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
        <div class="col-12">
        <app-navbar-index></app-navbar-index>
    </div>
    </div>
    </div>
    <app-header></app-header>
    <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
        <section class="py-7">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 mx-auto text-center">
                  <h2 class="text-gradient text-primary mb-3">Les offres disponibles</h2>
                  <h2 class="mb-0">+50 offres disponibles</h2>
                </div>
              </div>
              <div class="row mt-5">
                <form role="form" (ngSubmit)="filterOffers(criteria.value)">
                  <input type="text" #criteria placeholder="recherche...">
                  <button class="btn btn-primary" type="submit">Filter</button>
                </form>
                <div class="row mt-5">
                <ng-container  *ngFor="let offer of listOffer; let i = index" >
                  <div class="col-lg-4 col-md-8 mb-5">
                    <div class="card border border-primary" [ngClass]="i % 2 === 0 ? 'card-plain' : 'bg-gradient-primary'">
                      <div *ngIf="!offer.userHasApplied">
                      <div style="margin-left: 280px;" class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4">
                        <a  [routerLink]="['/postuler', offer.idOffre]"><i class="material-icons opacity-10" >weekend</i></a>
                    </div>
                      </div>
                        <div class="card-body">
                            <div class="author">
                                <div class="name">
                                  <span class="d-inline-block">Entreprise: {{offer.society.username}}</span>
                                    <h6 class="mb-0 font-weight-bolder">{{offer.offerName}}</h6>
                                    <div class="stats">
                                        <i class="far fa-clock" [ngClass]="i % 2 === 0 ? 'card-plain' : ' text-white'">{{offer.dateEmission}}</i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-4" [ngClass]="i % 2 === 0 ? 'card-plain' : ' text-white'">Profil souhaitée: {{offer.candidatProfil}}</p>
                            <p class="mt-4" [ngClass]="i % 2 === 0 ? 'card-plain' : ' text-white'">
                              {{ truncateDescription(offer.description, 50, offer.showFullDescriptionFlag) }}
                              <a style="font-weight: bolder;" *ngIf="offer.description.length > 50" (click)="showFullDescription(offer)">
                                {{ offer.showFullDescriptionFlag ? 'Voir moins' : 'Voir plus' }}
                              </a>
                            </p>                        </div>
                    </div>
                </div>
                </ng-container>
                </div>
              </div>
              <hr class="horizontal dark my-5">
            </div>
          </section>
          <div class="row">
            <div class="col-lg-6 mx-auto text-center">
                <h2 class="text-gradient text-primary mb-5">+20 Entreprises présentes</h2>
              </div>
           </div>
            <div class="row">

            <div class="col-lg-2 col-md-4 col-6 ms-auto">
              <img class="w-100 opacity-6" src="./assets/imgB/logos/gray-logos/logo-apple.svg" alt="Logo">
            </div>
            <div class="col-lg-2 col-md-4 col-6">
              <img class="w-100 opacity-6" src="./assets/imgB/logos/gray-logos/logo-facebook.svg" alt="Logo">
            </div>
            <div class="col-lg-2 col-md-4 col-6">
              <img class="w-100 opacity-6" src="./assets/imgB/logos/gray-logos/logo-nasa.svg" alt="Logo">
            </div>
            <div class="col-lg-2 col-md-4 col-6 ms-lg-0 ms-md-auto">
              <img class="w-100 opacity-6" src="./assets/imgB/logos/gray-logos/logo-vodafone.svg" alt="Logo">
            </div>
            <div class="col-lg-2 col-md-4 col-6 me-md-auto mx-md-0 mx-auto">
              <img class="w-100 opacity-6" src="./assets/imgB/logos/gray-logos/logo-digitalocean.svg" alt="Logo">
            </div>
          </div>
        </div>
          <app-footer-index></app-footer-index>
          </body>
