<section class="py-7">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-8">
          <div class="card card-rotate">
            <div class="card-body">
              <div
                class="author"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "
              >
                <img
                  style="width: 38px; height: 38px; margin-right: 5%"
                  src="../../../assets/img/icons/flags/lingot-dor.png"
                  alt="Diamond Logo"
                />
                <h4 class="mb-0 font-weight-bolder">Gold</h4>
              </div>
              <br />
              <ul>
                <li>Logo de l'entreprise en tête de page du site web du forum</li>
                <li>20 invitations pour le cocktail d'ouverture</li>
                <li>Diffusion de 2 offres d'emploi sur le site web du forum</li>
              </ul>
              <a
                class="text-dark font-weight-bold"
                style="float: right; text-decoration: underline"
                (click)="ShowAvailablePackages(Gold)"
                >Voir Plus</a
              >
            </div>
          </div>
          <br />
        </div>
  
        <div class="col-lg-4 col-md-8">
          <div class="card card-rotate">
            <div class="card-body">
              <div
                class="author"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "
              >
                <img
                  style="width: 38px; height: 38px; margin-right: 5%"
                  src="../../../assets/img/icons/flags/silver.png"
                  alt="Diamond Logo"
                />
                <h4 class="mb-0 font-weight-bolder">Silver</h4>
              </div>
              <br />
              <ul>
                <li>Logo de l'entreprise sur le site web du forum</li>
                <li>10 invitations pour le cocktail d'ouverture</li>
                <li>Diffusion d'une offre d'emploi sur le site web du forum</li>
              </ul>
              <a
                class="text-dark font-weight-bold"
                style="float: right; text-decoration: underline"
                (click)="ShowAvailablePackages(Silver)"
                >Voir Plus</a
              >
            </div>
          </div>
          <br />
        </div>
  
        <div class="col-lg-4 col-md-4">
          <div class="card card-rotate">
            <div class="card-body">
              <div
                class="author"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "
              >
                <img
                  style="width: 38px; height: 38px; margin-right: 5%"
                  src="../../../assets/img/icons/flags/platinum.png"
                  alt="Diamond Logo"
                />
                <h4 class="mb-0 font-weight-bolder">Platinum</h4>
              </div>
              <br />
              <ul>
                <li>Logo de l'entreprise le site web du forum</li>
                <li>30 invitations pour le cocktail d'ouverture</li>
                <li>Diffusion de 5 offres d'emploi sur le site web du forum</li>
                <li>
                  Insertion d'un flyer publicitaire dans les sacs des participants
                </li>
              </ul>
              <a
                class="text-dark font-weight-bold"
                style="float: right; text-decoration: underline"
                (click)="ShowAvailablePackages(Platinium)"
                >Voir Plus</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-8">
          <div class="card card-rotate">
            <div class="card-body">
              <div
                class="author"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "
              >
                <img
                  style="width: 35px; height: 35px; margin-right: 5%"
                  src="../../../assets/img/icons/flags/diamant.png"
                  alt="Diamond Logo"
                />
                <h4 class="mb-0 font-weight-bolder">Diamond</h4>
              </div>
              <br />
              <ul>
                <li>
                  Logo de l'entreprise en tant que partenaire exclusif sur le site
                  web du forum
                </li>
                <li>50 invitations pour le cocktail d'ouverture</li>
                <li>Diffusion de 10 offres d'emploi sur le site web du forum</li>
                <li>
                  Insertion d'un flyer publicitaire dans les sacs des participants
                </li>
              </ul>
  
              <a
                class="text-dark font-weight-bold"
                style="float: right; text-decoration: underline"
                (click)="ShowAvailablePackages(Diamond)"
                >Voir Plus</a
              >
            </div>
          </div>
          <br />
        </div>
      </div>
      <hr class="horizontal dark" />
    </div>
  </section>