
<style>
  /* Define animation keyframes */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 2;
      transform: translateY(0);
    }
  }

  /* Apply animation to elements */
  .animated-text {
    animation: fadeInUp 1s ease forwards; /* Apply fadeInUp animation to the text */
  }
</style>
<body>
<header class="bg-gradient-dark">
  <div class="page-header min-vh-90" style="background-image: url('./assets/imgB/home.jpeg')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5 animated-text">Bienvenue chez notre</h1>
          <h2 class="text-white mt-3 animated-text">Forum des entreprise ESPRIT 2024 <br/> +20 entreprises sera présente </h2>
        </div>
      </div>
    </div>
  </div>
</header>

</body>