<body class="g-sidenav-show bg-gray-200">
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
      <app-navbar [currentScreen]="'Reclamation'"></app-navbar>
      <main class="main-content position-relative border-radius-lg">
        <br />
        <div class="row">
          <div class="col-12">
            <div class="card my-4">
              <div
                class="card-header p-0 position-relative mt-n4 mx-3 z-index-2"
              >
                <div
                  class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
                >
                  <h6 class="text-white text-capitalize ps-3">
                    Liste des Reclamation
                  </h6>
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th
                          class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          ID
                        </th>

                        <th
                          class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          Description
                        </th>
                        <th
                          class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          Type Reclamation
                        </th>
                        <th
                          class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          Actions
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let reclamation of reclamations">
                        <td>
                          <h6 class="mb-0 text-sm">{{ reclamation.id }}</h6>
                        </td>

                        <td class="align-middle text-center text-sm">
                          <span class="badge badge-sm bg-gradient-secondary">{{
                            reclamation.description
                          }}</span>
                        </td>
                        <!-- YourComponent.component.html -->

                        <td class="align-middle text-center">
                          <span
                            *ngIf="reclamation.typeReclamation !== undefined"
                            class="text-secondary text-xs font-weight-bold"
                          >
                            {{ reclamation.typeReclamation }}
                          </span>
                        </td>

                        <td class="align-middle text-center">
                          <a
                            href="javascript:;"
                            class="text-center text-secondary font-weight-bold text-xs"
                            style="color: brown !important"
                            data-toggle="tooltip"
                            data-original-title="Edit user"
                            (click)="deleteReclamation(reclamation)"
                          >
                            Delete
                          </a>
                          <a
                            href="javascript:;"
                            style="color: darkgreen !important"
                            class="text-center text-secondary font-weight-bold text-xs"
                            data-toggle="tooltip"
                            data-original-title="Edit user"
                            (click)="ReviewReclamation(reclamation.user)"
                          >
                            Review
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <app-footer-index></app-footer-index>
      </main>
    </div>
  </div>
</body>
